.email-class{
  margin : 10px; 
  color:rgb(6, 10, 9);
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: larger;
  border-radius: 5px;
  box-shadow: 5px 5px 5px 5px  grey;
  display: inline;
  align-content: flex-start;
  padding: 10px  ;
}

.label{
  display: inline-block;
  width: 150px;
  text-align: right;
  font-size: larger;
  font-weight: 500;
  color: rgb(151, 16, 111);
  font-family: 'Courier New', Courier, monospace;

}

#btn{
  margin: 20px;
  padding: 10px ;
  border-radius: 10px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: larger;
  display: inline-block;
  justify-content: center;
}
